langchain==0.1.16
langchain-community==0.0.38
langchain-openai==0.0.8
langgraph==0.0.30

openai==1.14.2
python-dotenv==1.0.1
pydantic==2.6.4
chromadb==0.4.24

fastapi==2.2.1
uvicorn==0.27.1

pandas==2.2.1
tiktoken==0.6.0
ollama==0.1.7